.content-detail {
  width: 120%;
  position: absolute;
  overflow: hidden;
  top: -20vh;
  right: 0;
  z-index: -1;
}

.content-detail img {
  opacity: 0.23;
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
}

.game-image-detail {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  background-position: center;
}

.image-overlay-detail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // box-shadow: rgb(20, 20, 20) 0px -250px 16px -28px inset;
  box-shadow: rgb(20, 20, 20) 200px 3px 25px 0px inset, rgb(20, 20, 20) 0px 36px 150px 0px inset, rgb(20, 20, 20)0px -49px 40px 50px inset, rgb(20, 20, 20) 0px 2px 1px, rgb(20, 20, 20) 0px 4px 2px, rgb(20, 20, 20) 0px 8px 4px, rgb(20, 20, 20) 0px 16px 8px, rgb(20, 20, 20) 110px 32px 16px;
  // z-index: 1;
  position: absolute;
}
