<header class="text-white text-4xl flex justify-between gap-5">
  <div class="d-flex flex gap-5 space-x-5 z-50">
    <h1>Quiet Riot</h1>
    <ul class="d-flex flex space-x-5 mt-2 z-50">
      <li class="text-xl"><a href="">Home</a></li>
      <li class="text-xl"><a href="">Genres</a></li>
      <li class="text-xl"><a href="">All Games</a></li>
      <li class="text-xl"><a href="">Recently Added</a></li>
      <li class="text-xl"><a href="">My List</a></li>
    </ul>
  </div>
  <div>
    <form action="" class="relative flex z-50">
      <div class="container">
          <input
          type="text"
          name="text"
          class="input"
          required=""
          [(ngModel)]="query"
          (ngModelChange)="queryChange$.next(query)"
          (focus)="onInputFocus()"

          placeholder="Search..." >
          <div  class="icon" >
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 312">
                  <title>Search</title>
                  <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
              </svg>
          </div>
      </div>
    </form>
  </div>
</header>
