.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  // z-index: -1;
  transition: top 0.5s ease;

  &.focused {
    top: -80vh;
    display: none;
    background-position: center 60%;
  }
}

.router-content {
  position: relative;
  top: 10vh;
  // top: 100vh;
  transition: top 0.5s ease;
  // display: none;

  &.focused {
    top: 10vh;
    width: 111.9%;
    display: block;
  }
}

// @keyframes upDown {
//   from {
//     transform: translateY(-200%);
//   }
//   to {
//     transform: translateY(100%);
//   }
// }


