    <!-- carousel secundario -->
<div class="w-full relative responsive swiper-container content" [class.focused]="inputFocused">
  <div class="flex items-center justify-center swiper-wrapper">
    <button aria-label="slide backward" class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer swiper-button-prev" (click)="goPrev()">
      <svg width="20" height="50" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 1L1 7L7 13" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <swiper-container class="mySwiper transition ease-out duration-700" pagination="true" pagination-clickable="true" pagination-dynamic-bullets="true" space-between="10" slides-per-view="1" speed="800"
    centered-slides="true" autoplay-delay="6500" autoplay-disable-on-interaction="true"
    [pagination]="{ clickable: true, dynamicBullets: true, el: null }">
      <swiper-slide *ngFor="let games of $gamesHome()" class="flex flex-shrink-0 relative w-full sm:w-auto image-container">
          <img [src]="games.background_image" loading="lazy" alt="{{ games.name }}"  class="game-image" />
          <div class="image-overlay"></div>
          <div class="text-white absolute left-[8%] p-6">
            <div class="title" data-swiper-parallax="-300">{{ games.name }}</div>
            <div class="subtitle text-[#45d66b]" data-swiper-parallax="-200">Rating: {{ games.rating }}</div>
            <div class="gap-5 flex mb-2">
              <a [routerLink]="['games', games.id]" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2 opacity-75">Details</a>
              <button type="button" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2 opacity-75">Add my list</button>
            </div>
            <!-- <div class="subtitle" data-swiper-parallax="-200">{{ games.released }}</div> -->
            <div class="text" data-swiper-parallax="-100">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
                laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
                Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod.
                Aliquam hendrerit lorem at elit facilisis rutrum.
              </p>
            </div>
          </div>
        </swiper-slide>
    </swiper-container>

      </div>

    <button aria-label="slide forward" class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 swiper-button-next" (click)="goNext()">
      <svg width="20" height="50" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>

<div class="content-home w-full px-20" [class.focused]="inputFocused">
  <h1 class="text-white text-2xl font-bold mb-4">Trending Now</h1>

  <swiper-container class="mySwiper w-full relative h-[20vh] overflow-x-hidden" pagination="true" pagination-clickable="true"
    slides-per-view="5.3" space-between="20" free-mode="true"
    [pagination]="{ clickable: true, dynamicBullets: true, el: null }">

    <swiper-slide *ngFor="let games of $gamesHomeTrending()"
      class="group h-full sm:scale-100 hover:scale-200 sm:hover:scale-110 transition-transform rounded-lg bg-[#202020] text-white relative">

      <img [src]="games.background_image" loading="lazy" alt="{{ games.background_image }}"
        class="z-0 w-[400px] h-full rounded-lg shadow-lg object-cover transition-transform duration-500 ease-in-out transform group-hover:scale-210 group-hover:-translate-x-[80%]" />

      <div class="absolute inset-y-0 right-0 w-0 overflow-hidden bg-[#000000] transition-all duration-500 ease-in-out group-hover:w-[300px]">
        <div class="h-full w-full flex flex-col items-center justify-center px-4">
          <p class="text-white text-base font-bold text-center">{{ games.name }}</p>
          <p class="text-white text-xs text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
            laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
          </p>
          <div class="gap-5 flex">
            <button [routerLink]="['games', games.id]" type="button" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-5 py-2 mb-2 opacity-75">Details</button>
            <button type="button" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-5 py-2 mb-2 opacity-75">Add my list</button>
          </div>
        </div>
      </div>

    </swiper-slide>

  </swiper-container>


  <div class="w-full">
    <h1 class="text-white text-2xl font-bold">Added this Month</h1>
    <swiper-container class="mySwiper w-full relative h-[20vh] overflow-x-hidden" pagination="true" pagination-clickable="true"
    slides-per-view="5.3" space-between="20" free-mode="true"
    [pagination]="{ clickable: true, dynamicBullets: true, el: null }">

    <swiper-slide *ngFor="let games of $gamesListWeek()"
      class="group h-full sm:scale-100 hover:scale-200 sm:hover:scale-110 transition-transform rounded-lg bg-[#202020] text-white relative">

      <img [src]="games.background_image" loading="lazy" alt="{{ games.background_image }}"
        class="z-0 w-[400px] h-full rounded-lg shadow-lg object-cover transition-transform duration-500 ease-in-out transform group-hover:scale-210 group-hover:-translate-x-[80%]" />

      <div class="absolute inset-y-0 right-0 w-0 overflow-hidden bg-[#000000] transition-all duration-500 ease-in-out group-hover:w-[300px]">
        <div class="h-full w-full flex flex-col items-center justify-center px-4">
          <p class="text-white text-base font-bold text-center">{{ games.name }}</p>
          <p class="text-white text-xs text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
            dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla
            laoreet justo vitae porttitor porttitor. Suspendisse in sem justo.
          </p>
          <div class="gap-5 flex">
            <button [routerLink]="['games', games.id]" type="button" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-5 py-2 mb-2 opacity-75">Details</button>
            <button type="button" class="text-white hover:text-[#000000] mt-3 bg-[#636363] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-5 py-2 mb-2 opacity-75">Add my list</button>
          </div>
        </div>
      </div>

    </swiper-slide>

  </swiper-container>
  </div>

</div>


