.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.game-image {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: rgb(20, 20, 20) 0px -120px 36px -28px inset, rgba(26, 26, 26, 0.941) 0px 70px 136px -28px inset, rgba(26, 26, 26, 0.941) 800px 0px 200px -128px inset;
  z-index: 1;
}


    swiper-slide .title {
      margin-top: 450px;
      font-size: 50px;
      font-weight: 600;
    }

    swiper-slide .subtitle {
      font-size: 21px;
    }

    swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }


    ::ng-deep .swiper-pagination {
      display: none;
    }

    .swiper-container {
      &.focused {
        .title, .subtitle, .text {
          opacity: 0;
          transition: ease-out 1s;
        }
        .game-image {
          transition: ease-out 2s;
          object-position: 0px 600px;
        }
    }
  }

  .content-home {
    position: absolute;
    top: 85vh;
    &.focused {
      display: none;
    }
  }

  .content-home h1 {
    z-index: 11;
    position: relative;
  }
