<div class="text-white flex flex-col gap-3 text-center sm:text-left py-3">
  <p class="text-4xl md:text-4xl lg:text-5xl xl:text-5xl font-bold mb-3">My List</p>
  <div class="flex gap-5">
    <a
    [routerLink]="['/games/mylist']"
    routerLinkActive="text-white underline underline-offset-4"
    [routerLinkActiveOptions]="{exact: true}"
    class="text-[#636363] font-semibold transition-colors duration-300 hover:text-white hover:underline hover:underline-offset-8 text-2xl md:text-2xl lg:text-2xl xl:text-2xl mb-3"
    >My Favorites</a>
    <a
    [routerLink]="['/games/mylist/favoritesgenres']"
    routerLinkActive="text-white underline underline-offset-4"
    [routerLinkActiveOptions]="{exact: true}"
    class="text-[#636363] font-semibold transition-colors duration-300 hover:text-white hover:underline hover:underline-offset-8 text-2xl md:text-2xl lg:text-2xl xl:text-2xl mb-3"
    >Favorites Categories</a>
  </div>
  <router-outlet></router-outlet>
</div>
