/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

@layer utilities {
  .line-clamp-10 {
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 10;
    -webkit-line-clamp: 10;
    transition: all 0.5s ease-in-out;
  }

  .line-clamp-none {
    @apply overflow-visible;
    line-clamp: unset;
    -webkit-line-clamp: unset;
    transition: all 0.5s ease-in-out;
  }
}

$max-width: 1600px;
$primary: #151515;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary;
}

body {
  margin: 0 auto;
  height: 100dvh;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  padding: 2em;
  max-width: $max-width;
}
