<!-- <ng-container *ngIf="$loading(); else spinner">
  <div class="fixed inset-0 flex justify-center items-center z-50">
    <app-spinner class="flex justify-center items-center h-screen"></app-spinner>
  </div>
</ng-container>


<ng-template #spinner>
</ng-template> -->


<!-- <div *ngIf="$loading()">
  <div class="flex items-center items-center justify-center">
    <app-spinner></app-spinner>
  </div>
</div> -->

<div class="mt-5">
  <app-game-list class="break-inside-avoid inline-block" [gamesList]="$games()"></app-game-list>
  <div *ngIf="$loading()">
    <div class="flex items-center justify-center">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>
